<div class="side-how-to sticky">
    <a class="home-link" href="/how-to/"><i class="fa fa-home"></i>How–To Home</a>
    <hr/>
    <h3>{{- .Params.Title -}}</h3>
    <ul class="area">
        <li class="active"><a href="/how-to/account-management/">Introduction</a></li>
        <li><a href="/how-to/account-management-faq/">FAQ</a></li>
        <li><a href="/how-to/account-management-all-articles/">All Articles</a></li>
    </ul>
    <button>
        <a href="https://github.com/rackerlabs/support-how-to/edit/master/content/getting-started-with-public-cloud.md"><i class="fa fa-github"></i>Edit this article</a>
    </button>
    <button>
        <a class="active" id="side-cloud" href="https://cart.rackspace.com/cloud">Buy Now</a>
    </button>
</div>